* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}

body {
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1 {
    position: relative;
    color: #fc4c20;
    font-size: 85px;
    letter-spacing: 5px;
    text-align: center;
    user-select: none;
    outline: none;
    transform: rotate(-8deg) skewX(25deg);
    text-shadow: -1px 1px #861c02, -2px 2px #861c02, -3px 3px #861c02, -4px 4px #861c02, -5px 5px #861c02, -6px 6px #861c02, -7px 7px #861c02, -8px 8px #861c02, -9px 9px #861c02, -20px 20px 5px rgba(0,0,0,.8);
}
